
#OBSIDIAN RELATED
.obsidian/workspace*
.obsidian/cache
.trash
.DS_Store
osu-mascot-workspace/local_entries
osu-mascot-workspace/local_entries/local_assets
# .NET build output
**/bin/
**/obj/

# JetBrains Rider / IntelliJ local state
**/.idea/**/workspace.xml
**/.idea/**/projectSettingsUpdater.xml
